/*  your css code here. If applicable */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f4f4;
}

.mainWrapper {
	background-color: #f5f4f4;
    width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

.imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

td img {
    width: 100%;
    height: auto;
}
